Grpc:
    server.port: 50051
    server.executorThreads : 4
    filterConfig:
        enableAccessLogs: true
        accessLogFormat: '{clientIp} - [{requestTime}] "{method} {resourcePath} GRPC" {responseStatus} {contentLength} {responseTime} "-" "-"'

Dashboard:
    service.port: 9999
    service.acceptors: 5
    service.selectors: 10
    service.workers: 30
    healthcheck.path: "/elb-healthcheck"

Api:
    service.port: 9998
    service.acceptors: 5
    service.selectors: 10
    service.workers: 30
    scheduledexecutor.threadpool.size: 1
    healthcheck.path: "/elb-healthcheck"
    filterConfig:
        enableAccessLogs: true
        accessLogFormat: '{clientIp} - [{requestTime}] "{method} {resourcePath} {protocol}" {responseStatus} {contentLength} {responseTime} "{referer}" "{userAgent}"'

Tracing:
    collector.endpoint: http://10.83.43.133/api/v2/spans

ScheduledJobs:
    executorThreads: 5

hw:
    greeting: "Hello"

apiProperties:
    sayhello.deadline: 330

taskProperties:
    hello.timeout: 200
