Grpc:
    server.port: 50051
    server.executorThreads : 4
    enableAccessLogs: true

Dashboard:
    service.port: 9999
    service.acceptors: 5
    service.selectors: 10
    service.workers: 30

Api:
    service.port: 9998
    service.acceptors: 5
    service.selectors: 10
    service.workers: 30
    scheduledexecutor.threadpool.size: 1

Tracing:
    collector.endpoint: http://localhost:9411/api/v2/spans

ScheduledJobs:
    executorThreads: 5    

hw:
    greeting: "Hello"

apiProperties:
    sayhello.deadline: 330

taskProperties:
    hello.timeout: 200

