<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
    <Properties>
        <Property name="log-path">/tmp/logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %X - %msg%n"/>
        </Console>
        <Console name="access-log" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
<!--        In case access-log to be printed to a file-->
<!--        <File name="access-log" fileName="${log-path}/access.log">-->
<!--            <PatternLayout pattern="%msg%n"/>-->
<!--        </File>-->
    </Appenders>
    <Loggers>
        <Logger name="ACCESS-LOG" level="info" additivity="false">
            <AppenderRef ref="access-log"/>
        </Logger>
        <Logger name="io.netty.channel" level="error" additivity="false">
            <AppenderRef ref="console-log"/>
        </Logger>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>
